/* Style for index page */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #1c81c4, #ed2b15);
  overflow: hidden; 
}

.entry-animation {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  opacity: 0;
  animation: fadeIn 4s forwards, slideIn 2s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes slideIn {
  0% {
      left: -100%; 
  }
  100% {
      left: 10%; 
  }
}
.header {
  text-align: left;
  padding: 50px 20px;
  color:rgb(255, 255, 255);
}

.logo {
  font-size: 4em; 
  margin-bottom: 10px;
}

.tagline {
  font-size: 4em;
  font-weight: bold; 
  margin-top: 10px;
  color:black;
}


@keyframes slideInButton {
  0% {
      transform: translateY(50px);
  }
  100% {
      transform: translateY(0);
  }
}

.gradient-background {
  background: linear-gradient(to right, #1c81c4, #ed2b15);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.tagline {
  font-size: 18px;
  margin-top: 10px;
}


@media screen and (max-width: 1200px) and (min-width: 565px) {
  
}

@media screen and (max-width: 564px) and (min-width: 100px) {
  .header {
      padding: 10px;
  }

  .logo {
      font-size: 1em;
  }

  .tagline {
      font-size: 0.5em;
  }

  
}

