body {
    background: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
}
.top {
    --offset: 50px; 
    
    position: sticky;
    bottom: 20px;      
    margin-right:10px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    
    /* visual styling */
    text-decoration: none;
  
    padding: 10px;
    font-family: sans-serif;
    color: #000000;
    background: #ffffff;
    border-radius: 100px;
    white-space: nowrap;
  }
#events-container, #startup-ideas-container {
    flex: 1;
    padding: 20px ;
    overflow: auto;
    width: 80%;
    height: 500px;
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: relative;
    left:10%;
}

.section-title {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.event-card, .idea-card {
    width:100%;

    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    text-align: center;
    height:max-content;
}

.event-card h2, .idea-card h2 {
    margin-bottom: 10px;
    color: #2ecc71;
}

.registration-link, .idea-submission-link {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

a {
    color: #f39c12;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 669px) {
	 
    
#container {
    
    display: block;
    align-items: center;
    padding: auto;
    
}
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer h3 {
    margin-bottom: 10px;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }