<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EDC Evolution</title>
  <link rel="stylesheet" href="static/about.css">
  <link rel="icon" type="image/x-icon" href="static/images/icons/logo.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
		body{
			background-color:black;
		}
	</style>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

	<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">E-cell of REC</a>
          </div>
          <ul class="nav navbar-nav">
			<li ><a href="/">Home</a></li>
            <li class="active"><a href="/aboutus">Who We Are</a></li>
	        <li><a href="/masterpiecemoments">Masterpiece Moments</a></li>
    	    <li><a href="/team">The Entrepreneurs Within</a></li>
        	<li><a href="/visionvault">VisionVault Exchange</a></li>

          </ul>
        </div>
      </nav>	  
	  <div class="intro">
		<h1>Footprints in Time</h1>
	  </div>
	  
	  <div class="intro">
		<h3>EDC's Commanding Entrepreneurial Narrative</h3>
	  </div>
	  
	  <main>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>Founding Years</h2>
			  <time>2015</time> - 2016
			</header>
			<p>The seeds of entrepreneurship were sown in 2015 as Rajalakshmi Engineering College (REC) envisioned a platform to nurture entrepreneurial spirit among students.<br><br>EDC was established with a vision to empower students, create job opportunities, and contribute to the nation's development.<br><br>Initial activities included meetings with faculty, agenda discussions, and the launch of E-Awareness campaigns.
			</p>
			<img src="{{img1}}" alt="" />
		  </div>
		</article>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>E-conclave'16</h2>
			   
			</header>
			<p>March 10th and 11th, 2016 witnessed one of the greatest events, E-Conclave'16 that inspired and exhilarated the idea of entrepreneurship.
			<br><br>Our event featured a wide range of activities, including guest lectures, panel discussions, motivational talks, workshops, debates and engaging showcases of start-ups.<br><br>With an impressive turnout of approximately 500 participants and the participation of 15 innovative start-ups, our event was a resounding success.<br><br>This achievement is a testament to the collaborative efforts of our dedicated team, with unwavering support from the management, effective coordination by the E-Cell, and the remarkable dedication of our students.<br><br>
			We are proud to announce that our event has earned national recognition as a prestigious E-Conclave hosted at REC.</p>
			<img src="{{img2}}" alt="" />
		  </div>
		</article>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>E- Week 2016</h2>
			</header>
			<p>"E Week '16" took place over four dynamic days in April 2016, offering an array of engaging activities, including workshops, panel discussions, and seminars.<br><br>The event had a clear focus on promoting entrepreneurship, innovation, and collaboration, aiming to inspire and educate participants in these areas.<br><br>"E Week '16" attracted a diverse audience, including students, entrepreneurs, and professionals, creating a platform for meaningful knowledge exchange and networking opportunities.<br><br>The event left a lasting impact by fostering a spirit of creativity and entrepreneurial enthusiasm, contributing to the growth and development of the entrepreneurial community it targeted.
			</p>
			<img src="{{img3}}" alt="" />
		  </div>
		</article>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>E-WEEK 2018</h2>
			</header>
			<p>Day 1: Motivational speaker Jaikanth M.C. shared his success story and valuable insights, kicking off E-Week on an inspiring note.<br><br>Day 2: The day revolved around expanding the mind through new experiences, featuring entrepreneurial games and a business quiz.<br><br>Day 3: Participants engaged in a business quiz, highlighting the importance of knowledge in the business world.<br><br>Day 4: The focus shifted to risk management, with various games testing decision-making abilities under pressure.<br><br>Day 5: Similar to "Shark Tank," participants pitched their business ideas to a judging panel, making it the ultimate test of entrepreneurship skills. </p>
			<img src="{{img4}}" alt="" />
		  </div>
		</article>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>Compact cassette</h2>
			  <time>1971</time> - Philips
			</header>
			<p>A small, magnetic tape cassette used for storing data.</p>
			<img src="https://assets.codepen.io/159218/compact-cassette.jpg" alt="" />
		  </div>
		</article>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>Zip drive</h2>
			  <time>1980</time> - Iomega
			</header>
			<p>A removable disk drive with a capacity of up to 100 MB.</p>
			<img src="https://assets.codepen.io/159218/zip-drive.jpg" alt="" />
		  </div>
		</article>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>CD-ROM</h2>
			  <time>1984</time> - James Russell
			</header>
			<p>A compact disc that can store up to 700 MB of data.</p>
			<img src="https://assets.codepen.io/159218/cd-rom.png" alt="" />
		  </div>
		</article>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>DVD-ROM</h2>
			  <time>1994</time> - Kenji Kashiwaya
			</header>
			<p>A digital versatile disc that can store up to 4.7 GB of data.</p>
			<img src="https://assets.codepen.io/159218/dvd-rom.png" alt="" />
		  </div>
		</article>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>Blu-ray Disc</h2>
			  <time>1995</time> - Sony and Philips
			</header>
			<p>A high-definition optical disc that can store up to 25 GB of data.</p>
			<img src="https://assets.codepen.io/159218/blu-ray.png" alt="" />
		  </div>
		</article>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>Solid-state drive</h2>
			  <time>2000</time> - SanDisk
			</header>
			<p>A type of storage device that uses flash memory to store data.</p>
			<img src="https://assets.codepen.io/159218/ssd.jpg" alt="" />
		  </div>
		</article>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>USB flash drive</h2>
			  <time>2003</time> - IBM
			</header>
			<p> A small, portable storage device that uses flash memory to store data.</p>
			<img src="https://assets.codepen.io/159218/usb-flash-drive.jpg" alt="" />
		  </div>
		</article>
		<article class="stop">
		  <div class="text">
			<header>
			  <h2>Cloud storage</h2>
			  <time>2007</time> - Amazon Web Services
			</header>
			<p>A service that allows users to store data on remote servers.</p>
			<img src="https://images.unsplash.com/photo-1517685352821-92cf88aee5a5?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODk2MDA3NDJ8&ixlib=rb-4.0.3&q=85" alt="" />
		  </div>
		</article>
	  </main>

    

</body>

</html>
