<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Photo Gallery</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="static/images/icons/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/gallery.css">
    <style>

    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">E-cell of REC</a>
          </div>
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li ><a href="/aboutus">Who We Are</a></li>
	        <li class="active"><a href="/masterpiecemoments">Masterpiece Moments</a></li>
    	    <li><a href="/team">The Entrepreneurs Within</a></li>
        	<li><a href="/visionvault">VisionVault Exchange</a></li>

          </ul>
        </div>
      </nav>
    <br>
    <br>
    <h1>Event Photo Galleries</h1>

    <div class="event-container">
        <!-- Event 1 -->
        <div class="event">
            <div class="event-title">Event 1</div>
            <div class="photo-gallery-container">
                <div class="photo-gallery">
                    <img src="{{photo1}}" alt="Event 1 Photo 1">
                    <img src="{{photo2}}" alt="Event 1 Photo 2">
                    <!-- Add more photos as needed -->
                </div>
            </div>
        </div>

        <!-- Event 2 -->
        <div class="event">
            <div class="event-title">Event 2</div>
            <div class="photo-gallery-container">
                <div class="photo-gallery">
                    <img src="{{photo1}}" alt="Event 2 Photo 1">
                    <img src="{{photo2}}" alt="Event 2 Photo 2">
                    <!-- Add more photos as needed -->
                </div>
            </div>
        </div>

    </div>
    <a href="#" class="top">Back to Top &#8593;</a>
    <footer>
        <div>
            <h3>Contact Information</h3>
            <p>Email: <a href="mailto:coordinator@example.com">coordinator@example.com</a></p>
            <p>Email: <a href="mailto:president@example.com">president@example.com</a></p>
            <p>Coordinator: +123456789</p>
            <p>President: +987654321</p>
        </div>
    </footer>
</body>

</html>
