<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="static/images/icons/logo.png">
 
    <title>E-Cell of REC</title>
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">Our Jornery</a>
    <a href="#contact"></a>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
    <div class="gradient-background">
    <div class="entry-animation">
        <div class="header">
            <h1 class="logo">Entrepreneurship Development Cell</h1>
            <p class="tagline">EXPLORE...........INNOVATE.............INCUBATE</p>
        </div>
    </div>

</body>
</html>