<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="static/team.css">
</head>
    <body >
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">E-cell of REC</a>
              </div>
              <ul class="nav navbar-nav">
                <li ><a href="/">Home</a></li>
                <li><a href="/aboutus">Who We Are</a></li>
                <li><a href="/masterpiecemoments">Masterpiece Moments</a></li>
                <li class="active"><a href="/team">The Entrepreneurs Within</a></li>
                <li><a href="#visionvault-exchange">VisionVault Exchange</a></li>
    
              </ul>
            </div>
          </nav>
          <div class="content">
<header>
    <div class="title">
        <h3>CHIEF EXECUTIVES</h3>
    </div>
</header>

<main>

    <div class="profile">
        <figure data-value="PRESIDENT">
            <img src="{{img1}}" alt="">
            <figcaption><strong>Karthikaa K</strong></figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="VICE PRESIDENT">
            <img src="{{img2}}" alt="">
            <figcaption><strong>Gokula Krishnan B</strong></figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="CHIEF EXECUTIVE OFFICER">
            <img src="{{img3}}" alt="">
            <figcaption><strong>Lokchandar C</strong><figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="CHIEF DIRECTOR">
            <img src="{{img4}}" alt="">
            <figcaption><strong>Riyaz Mohammed S</strong></figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="CHIEF OPERATING OFFICER">
            <img src="{{img5}}" alt="">
            <figcaption><strong>Kesavraj R S</strong></figcaption>
        </figure>
    </div>


</main>
<br>
<br>
<header>
    <div class="title">
        <h3>EXECUTIVES</h3>
    </div>
</header>

<main>

    <div class="profile">
        <figure data-value="SECRETARY">
            <img src="{{img6}}" alt="">
            <figcaption><strong>Subakrishna B</strong></figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="CO-SECRETARY">
            <img src="{{img7}}" alt="">
            <figcaption><strong>Suman Girivasan</strong></figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="TREASURER">
            <img src="{{img8}}" alt="">
            <figcaption><strong>Kaavya Agith</strong></figcaption>
        </figure>
    </div>

</main>
<br>
<br>
<header>
    <div class="title">
        <h3>DIRECTORS</h3>
    </div>
</header>

<main>

    <div class="profile">
        <figure data-value="MEDIA">
            <img src="{{img9}}" alt="">
            <figcaption><strong>Shankar Nithish Kumar M S</strong></figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="EVENT">
            <img src="{{img10}}" alt="">
            <figcaption><strong>Madhumita P</strong></figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="TECH">
            <img src="{{img11}}" alt="">
            <figcaption><strong>Vejaysundaram R</strong></figcaption>
        </figure>
    </div>

    
    <div class="profile">
        <figure data-value="PRO">
            <img src="{{img12}}" alt="">
            <figcaption><strong>Kokilappriya AM</strong></figcaption>
        </figure>
    </div>
    
    <div class="profile">
        <figure data-value="HR">
            <img src="{{img13}}" alt="">
            <figcaption><strong>Deepak G L</strong></figcaption>
        </figure>
    </div>
    

</main>
<br>
<br>
<header>
    <div class="title">
        <h3>GENERAL MANAGERS</h3>
    </div>
</header>
<header>
    <div class="title">
        <h2>MEDIA</h2>
    </div>
</header>

<main>

    <div class="profile">
        <figure data-value="MAIL">
            <img src="{{img14}}" alt="">
            <figcaption><strong>Shephrine Jebarson</strong></figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="YOUTUBE">
            <img src="{{img15}}" alt="">
            <figcaption><strong>Kathirelakkkiyan S</strong></figcaption>
        </figure>
    </div>

    
    <div class="profile">
        <figure data-value="INSTAGRAM">
            <img src="{{img16}}" alt="">
            <figcaption><strong>Joel Sam O</strong></figcaption>
        </figure>
    </div>
    
    <div class="profile">
        <figure data-value="WHATSAPP">
            <img src="{{img17}}" alt="">
            <figcaption><strong>Subash S</strong></figcaption>
        </figure>
    </div>
    <div class="profile">
        <figure data-value="MASTER OF CEREMONIES">
            <img src="{{img18}}" alt="">
            <figcaption><strong>Nitin V H</strong></figcaption>
        </figure>
    </div>
    
    <div class="profile">
        <figure data-value="REPORTS">
            <img src="{{img19}}" alt="">
            <figcaption><strong>Vaishnavi J</strong></figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="MAINTENANCE">
            <img src="{{img20}}" alt="">
            <figcaption><strong>PrabhaThareni D</strong></figcaption>
        </figure>
    </div>

</main>

<br>
<br>
<header>
    <div class="title">
        <h2>EVENT</h2>
    </div>
</header>

<main>

    <div class="profile">
        <figure data-value="EVERYDAY">
            <img src="{{img21}}" alt="">
            <figcaption><strong>Hari Balaji JC</strong></figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="WEEKLY">
            <img src="{{img22}}" alt="">
            <figcaption><strong>SaiGanesh Chintala</strong></figcaption>
        </figure>
    </div>

    
    <div class="profile">
        <figure data-value="MONTHLY">
            <img src="{{img23}}" alt="">
            <figcaption><strong>Manish UJ</strong></figcaption>
        </figure>
    </div>
    
    <div class="profile">
        <figure data-value="ONE-TIME">
            <img src="{{img24}}" alt="">
            <figcaption><strong>Keerthana MG</strong></figcaption>
        </figure>
    </div>
</main>
<br>
<br>
<header>
    <div class="title">
        <h2>TECH</h2>
    </div>
</header>

<main>

    <div class="profile">
        <figure data-value="WEBSITE AND INNOVATION">
            <img src="{{img25}}" alt="">
            <figcaption><strong>Sooraj Nikam P</strong></figcaption>
        </figure>
    </div>

    <div class="profile">
        <figure data-value="WEBSITE AND INNOVATION">
            <img src="{{img26}}" alt="">
            <figcaption><strong>Vaishnavi Sri S.M</strong></figcaption>
        </figure>
    </div>


</main>
</div>
</body>
</html>
