<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="static/images/icons/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/visionvault.css">
    <title>VisionVault</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">E-cell of REC</a>
          </div>
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li><a href="/aboutus">Who We Are</a></li>
            <li><a href="/masterpiecemoments">Masterpiece Moments</a></li>
            <li ><a href="/team">The Entrepreneurs Within</a></li>
            <li class="active"><a href="/visionvault">VisionVault Exchange</a></li>

          </ul>
        </div>
      </nav>
    <div id="container">
        <h2 class="section-title">Upcoming Events</h2>
        <div id="events-container">
            
            <div class="event-card">
                <h2>Event One</h2>
                <p>Date: March 10, 2024</p>
                <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="registration-form-link">Registration Form</a>
            </div>

            <div class="event-card">
                <h2>Event Two</h2>
                <p>Date: April 15, 2024</p>
                <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="registration-form-link">Registration Form</a>
            </div>
            <div class="event-card">
                <h2>Event Three</h2>
                <p>Date: March 10, 2024</p>
                <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="registration-form-link">Registration Form</a>
            </div>

            <div class="event-card">
                <h2>Event Four</h2>
                <p>Date: April 15, 2024</p>
                <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="registration-form-link">Registration Form</a>
            </div>
        </div>
        <h2 class="section-title">Startup Ideas Submission</h2>
        <div id="startup-ideas-container">
            
            <p>
                Dear Students and Faculty Members,<br><br>

                With reference to our earlier mail regarding Start-ups, we have dedicated ourselves to fostering a culture of innovation and entrepreneurship, making 2024 the "Year of Start-ups at REC!".
                <br><br>
                As you are aware, our Vice Chairman's main goal is to create 25 startups originating from the vibrant minds at REC within this calendar year! This ambitious initiative not only showcases the college's commitment to innovation but also provides a platform for students and faculty to turn their innovative ideas into reality.
                <br><br>
                We firmly believe in the power of ideas and the spirit of innovation that our faculty and students possess. To harness this potential, we are inviting start-up incubation proposals aligned with their monthly themes, each representing a sphere where technology can create impactful solutions.
                <br><br>
                Here's a quick glimpse of our themes: Agriculture Tech, Women in Tech, Everyday AI, EdTech, 
                Sustainable Tech, Creative AI, Tech Entrepreneurship, HealthTech, Festive Technology, Social Impact Tech, The Future of AI
                <br><br>
                Please submit your ideas @ the link given below.
            </p>
            <a href="#" class="idea-submission-form-link">Submit Your Startup Idea</a>
        </div>

    </div>

    <footer>
        <div>
            <h3>Contact Information</h3>
            <p>Email: <a href="mailto:coordinator@example.com">coordinator@example.com</a></p>
            <p>Email: <a href="mailto:president@example.com">president@example.com</a></p>
            <p>Coordinator: +123456789</p>
            <p>President: +987654321</p>
        </div>
    </footer>
</body>
</html>
